<h1>Bramble</h1>
<p>Grow your own stories</p>

<p>We already have <%= @user_num %> users with <%= @story_num %> stories written!</p>

<div>
  <%= link_to "Browse Stories", stories_path, :class => "brutton" %>
</div>
